@font-face {
  font-family: "Inter";
  src: url(./../fonts/Inter-Regular.woff2) format("woff2"), url(./../fonts/Inter-Regular.woff) format("woff"), url(./../fonts/Inter-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Inter";
}

main {
  padding-top: 60px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.overlay {
  background-color: #000000a3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

/*Header*/
.header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

.header .brandContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.header .brandContainer img {
  height: 90%;
}

.header .menuBox {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menuBox .buttonMenuContainer {
  height: 100%;
}

.header .menuBox .buttonMenuContainer label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menuBox .buttonMenuContainer label .span {
  background-color: #000000;
  width: 25px;
  height: 3px;
  border-radius: 50px;
}

.header .menuBox .buttonMenuContainer input {
  display: none;
}

.header .menuBox .menu {
  position: absolute;
  top: 60px;
  right: -768px;
  height: 100vh;
  background-color: #ffffff;
  width: 50%;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}

.header .menuBox .menu .menuContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 20px 0;
}

.header .menuBox .menu .menuContainer .itemMenu {
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .menuBox .menu .menuContainer .itemMenu:hover {
  -webkit-box-shadow: 384px 0 8px #cf463e inset;
          box-shadow: 384px 0 8px #cf463e inset;
}

.header .menuBox .menu .menuContainer .itemMenu .linkMenu {
  color: #838383;
  font: normal 17px/22px "Inter";
}

.header .menuBox .menu .menuContainer .itemMenu:hover > .linkMenu {
  color: #ffffff;
}

@media (min-width: 1024px) {
  .header .menuBox .menu .menuContainer .itemMenu:hover > .linkMenu {
    color: #cf463e;
  }
}

.header .menuBox .hidden {
  right: 0;
}

@media (min-width: 1024px) {
  .header .brandContainer {
    width: 30%;
  }
  .header .menuBox {
    width: 70%;
  }
  .header .menuBox .buttonMenuContainer label {
    display: none;
  }
  .header .menuBox .menu {
    width: 80%;
    height: 60px;
    top: 0;
    right: 0;
  }
  .header .menuBox .menu .menuContainer {
    width: 100%;
    padding: 0 0 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .menuBox .menu .menuContainer .itemMenu:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: #cf463e solid 2px;
  }
}

.introContainer {
  height: 80vh;
}

.introContainer .swiper {
  width: 100%;
  height: 100%;
}

.introContainer .swiper .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introContainer .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutContainer {
  padding: 40px 20px;
  text-align: center;
  text-align: center;
}

@media (min-width: 1024px) {
  .aboutContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.aboutContainer .aboutDescription h2 {
  margin-bottom: 20px;
  font: bold 25px/30px "Inter";
}

.aboutContainer .aboutDescription p {
  margin-bottom: 40px;
  font: normal 17px/23px "Inter";
}

@media (min-width: 1024px) {
  .aboutContainer .aboutDescription {
    padding: 0 50px;
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 1024px) {
  .aboutContainer .aboutImg {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/*mini carousel*/
.miniCarousel {
  margin: 50px 0;
}

.carouselContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}

.carouselContent::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .carouselContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.carouselContent .imgContainer {
  text-align: center;
  scroll-snap-align: center;
  margin: 0px 35px;
  min-width: 110px;
}

.carouselContent .imgContainer p {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
}

.servicesContainer {
  padding: 40px 20px;
  text-align: center;
}

.servicesContainer h2 {
  font: bold 25px/30px "Inter";
}

@media (min-width: 768px) {
  .servicesContainer .servicesContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.servicesContainer .servicesContent .cardService {
  padding: 40px 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .servicesContainer .servicesContent .cardService {
    max-width: 220px;
  }
}

.servicesContainer .servicesContent .cardService img {
  margin-bottom: 20px;
}

.servicesContainer .servicesContent .cardService h3 {
  margin-bottom: 20px;
  font: bold 21px/26px "Inter";
}

.servicesContainer .servicesContent .cardService p {
  padding: 0 40px;
  font: normal 15px/20px "Inter";
}

@media (min-width: 768px) {
  .servicesContainer .servicesContent .cardService p {
    padding: 0;
  }
}

/*Benefits*/
.whyusContainer {
  padding: 40px 20px;
  text-align: center;
}

.whyusContainer h2 {
  margin-bottom: 40px;
  font: bold 25px/30px "Inter";
}

.whyusContainer .cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  max-width: 768px;
  margin: auto;
}

.whyusContainer .cardContainer .cardGeneral {
  -webkit-box-shadow: 2px 2px 8px #000000;
          box-shadow: 2px 2px 8px #000000;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  min-width: 280px;
  max-width: 300px;
}

.whyusContainer .cardContainer .cardGeneral h3 {
  font: bold 21px/26px "Inter";
  margin-bottom: 10px;
}

.whyusContainer .cardContainer .cardGeneral p {
  font: normal 15px/20px "Inter";
}

/*FAQs*/
.faqsContainer {
  padding: 40px 20px;
  text-align: center;
  margin: auto;
  min-width: 320px;
  max-width: 768px;
}

.faqsContainer h2 {
  margin-bottom: 40px;
  font: bold 25px/30px "Inter";
}

.faqsContainer .faqsContent .faqsTitle {
  padding: 0 10px;
  font: normal 17px/23px "Inter";
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  outline: none;
  color: #ffffff;
  background: #cf463e;
  margin: 0;
  cursor: pointer;
  text-align: left;
}

.faqsContainer .faqsContent .faqsDescription {
  display: none;
  margin: 0;
  padding: 16px 19px 24px;
  font: normal 15px/20px "Inter";
}

.formContainer {
  padding: 40px 20px;
  text-align: center;
  margin: auto;
}

.formContainer h2 {
  margin-bottom: 40px;
  font: bold 25px/30px "Inter";
}

.formContainer .formContent {
  margin: auto;
}

@media (min-width: 1024px) {
  .formContainer .formContent form {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .formContainer .formContent form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

.formContainer .formContent form div input {
  height: 60px;
  border: 0;
  background-color: #cec7c7;
  margin-bottom: 10px;
  width: 100%;
  padding: 12px 8px;
}

.formContainer .formContent form div input::-webkit-input-placeholder {
  color: #838383;
  font: normal 15px/20px "Inter";
}

.formContainer .formContent form div input:-ms-input-placeholder {
  color: #838383;
  font: normal 15px/20px "Inter";
}

.formContainer .formContent form div input::-ms-input-placeholder {
  color: #838383;
  font: normal 15px/20px "Inter";
}

.formContainer .formContent form div input::placeholder {
  color: #838383;
  font: normal 15px/20px "Inter";
}

.formContainer .formContent form textarea {
  border: 0;
  height: 180px;
  width: 100%;
  padding: 12px 8px;
  resize: none;
  background-color: #cec7c7;
  margin-bottom: 20px;
}

.formContainer .formContent form textarea::-webkit-input-placeholder {
  font: normal 15px/20px "Inter";
  color: #838383;
}

.formContainer .formContent form textarea:-ms-input-placeholder {
  font: normal 15px/20px "Inter";
  color: #838383;
}

.formContainer .formContent form textarea::-ms-input-placeholder {
  font: normal 15px/20px "Inter";
  color: #838383;
}

.formContainer .formContent form textarea::placeholder {
  font: normal 15px/20px "Inter";
  color: #838383;
}

.formContainer .formContent form button {
  border: 0;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 0px;
  width: 25%;
  border-radius: 9px;
  background-color: #cf463e;
}

@media (min-width: 1024px) {
  .formContainer .formContent form button {
    width: 15%;
  }
}

.formContainer #mailto {
  display: none;
}

/*footer*/
footer {
  padding-top: 40px;
  background-color: #cec7c7;
  color: #000000;
}

footer .infoFooterContainer {
  padding: 0 20px;
}

footer .infoFooterContainer .addressContainer h3,
footer .infoFooterContainer .rrssContainer h3 {
  font: bold 21px/26px "Inter";
}

footer .infoFooterContainer .addressContainer .itemFooter,
footer .infoFooterContainer .rrssContainer .itemFooter {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

footer .infoFooterContainer .addressContainer .itemFooter div,
footer .infoFooterContainer .addressContainer .itemFooter a,
footer .infoFooterContainer .rrssContainer .itemFooter div,
footer .infoFooterContainer .rrssContainer .itemFooter a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

footer .infoFooterContainer .addressContainer .itemFooter div img,
footer .infoFooterContainer .rrssContainer .itemFooter div img {
  margin-right: 10px;
}

footer .infoFooterContainer .addressContainer .itemFooter div p,
footer .infoFooterContainer .rrssContainer .itemFooter div p {
  font: normal 15px/20px "Inter";
}

footer .infoFooterContainer .addressContainer {
  margin: 30px auto 0;
}

footer .infoFooterContainer .addressContainer h3 {
  text-align: center;
  margin-bottom: 10px;
}

footer .infoFooterContainer .rrssContainer {
  margin: auto;
}

footer .infoFooterContainer .rrssContainer h3 {
  text-align: center;
  margin-bottom: 10px;
}

footer .firmContainer {
  background-color: #cf463e;
  color: #ffffff;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .firmContainer p {
  text-align: center;
  font: normal 15px/20px "Inter";
}

@media (min-width: 768px) {
  .contactContainer {
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .instructionsContainer,
  .formContainer {
    width: 50%;
  }
  .addressContainer,
  .rrssContainer {
    width: 50%;
    padding: 0 30px;
  }
}
/*# sourceMappingURL=styles.css.map */