.formContainer {
  @include padding;
  margin: auto;
  h2 {
    margin-bottom: 40px;
    font: $fontTitle;
  }
  .formContent {
    margin: auto;
    form {
      @include desktop {
        text-align: right;
      }
      div {
        @include desktop {
          display: flex;
          gap: 10px;
        }
        input {
          height: 60px;
          border: 0;
          background-color: $color6;

          margin-bottom: 10px;
          width: 100%;
          padding: 12px 8px;
          &::placeholder {
            color: $color5;
            font: $fontInput;
          }
        }
      }
      textarea {
        border: 0;
        height: 180px;
        width: 100%;
        padding: 12px 8px;
        resize: none;
        background-color: $color6;
        margin-bottom: 20px;
        &::placeholder {
          font: $fontInput;
          color: $color5;
        }
      }
      button {
        border: 0;
        outline: none;
        cursor: pointer;
        color: $white;
        padding: 10px 0px;
        width: 25%;
        border-radius: 9px;
        background-color: $color1;
        @include desktop {
          width: 15%;
        }
      }
    }
  }
  #mailto {
    display: none;
  }
}
