/*footer*/
footer {
  padding-top: 40px;
  background-color: $color6;
  color: $black;
  .infoFooterContainer {
    padding: 0 20px;
    .addressContainer,
    .rrssContainer {
      h3 {
        font: $fontSubtitle;
      }
      .itemFooter {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        gap: 30px;
        div,
        a {
          display: flex;
          color: $black;
        }
        div {
          img {
            margin-right: 10px;
          }
          p {
            font: $fontCard;
          }
        }
      }
    }
    .addressContainer {
      margin: 30px auto 0;
      h3 {
        text-align: center;
        margin-bottom: 10px;
      }
    }
    .rrssContainer {
      margin: auto;
      h3 {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
  .firmContainer {
    background-color: $color1;
    color: $white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      text-align: center;
      font: $fontInput;
    }
  }
}

@include tablet {
  .contactContainer {
    padding: 40px;
    display: flex;
  }
  .instructionsContainer,
  .formContainer {
    width: 50%;
  }

  .addressContainer,
  .rrssContainer {
    width: 50%;
    padding: 0 30px;
  }
}
