/*Header*/
.header {
  background-color: $white;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 100;
  .brandContainer {
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .menuBox {
    justify-content: flex-end;
    align-items: center;

    .buttonMenuContainer {
      height: 100%;

      label {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0 20px;
        height: 100%;
        justify-content: center;
        .span {
          background-color: $black;
          width: 25px;
          height: 3px;
          border-radius: 50px;
        }
      }
      input {
        display: none;
      }
    }
    .menu {
      position: absolute;
      top: 60px;
      right: -768px;
      height: 100vh;
      background-color: $white;
      width: 50%;
      transition: right 0.3s ease-in-out;

      .menuContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 0;
        .itemMenu {
          padding: 10px;
          transition: all 0.3s ease;
          &:hover {
            box-shadow: 384px 0 8px $color2 inset;
          }

          .linkMenu {
            color: reed;
          }
        }
      }
    }
    .hidden {
      right: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    .brandContainer {
      width: 30%;
    }
    .menuBox {
      width: 70%;
      .buttonMenuContainer {
        label {
          display: none;
        }
      }
      .menu {
        width: 80%;
        height: 60px;
        top: 0;
        /*  width: 100%; */
        right: 0;

        .menuContainer {
          width: 100%;
          padding: 0;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          .itemMenu {
            &:hover {
              box-shadow: none;
              border-bottom: $color1 solid 2px;
            }
          }
        }
      }
    }
  }
}
