/*mini carousel*/
.miniCarousel {
  margin: 50px 0;
}
.carouselContent {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  @include desktop {
    justify-content: center;
  }

  .imgContainer {
    text-align: center;
    scroll-snap-align: center;
    margin: 0px 35px;
    min-width: 110px;
    p {
      text-align: center;
      font-weight: bold;
      font-size: 1.7rem;
    }
  }
}
