$fontBase: "Inter";
$white: #ffffff;
$black: #000000;
$overlay: #000000a3;
$color1: #cf463e;
$color5: #838383;
$color6: #cec7c7;

$fontMenu: normal 17px/22px $fontBase;
$fontInput: normal 15px/20px $fontBase;
$fontTitle: bold 25px/30px $fontBase;
$fontSubtitle: bold 21px/26px $fontBase;
$fontParagraph: normal 17px/23px $fontBase;
$fontCard: normal 15px/20px $fontBase;
